In [7]:
import os

# Set Java 17 for PySpark
os.environ['JAVA_HOME'] = '/opt/homebrew/opt/openjdk@17/libexec/openjdk.jdk/Contents/Home'
os.environ['PATH'] = '/opt/homebrew/opt/openjdk@17/bin:' + os.environ.get('PATH', '')

from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName("ReadingJSONFiles").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/08 13:44:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/12/08 13:44:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
data_path = '/Users/zlatavorobeva/Documents/GitHub/SQL Int/SQL_Intermediate/Spark/Data'

In [9]:
json_df1_path = data_path + "/location_temp.json"
df1 = spark.read.format("json").load(json_df1_path)

In [12]:
json_df2_path = data_path + "/utilization.json"
df2 = spark.read.format("json").load(json_df2_path)

In [10]:
df1.count()

500000

In [11]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [13]:
df2.count()

500000

In [14]:
df2.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [15]:
df2.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [ ]:
import fractions
df2_sample = df2.sample(False, fraction=0.1)

In [20]:
df2_sample.count()

50208

In [19]:
df2_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.29|03/05/2019 09:46:14|        0.6|      100|           44|
|           0.56|03/05/2019 10:26:14|       0.69|      100|           44|
|           0.32|03/05/2019 11:01:14|       0.56|      100|           53|
|           0.46|03/05/2019 12:01:14|       0.34|      100|           67|
|           0.27|03/05/2019 12:11:14|       0.65|      100|           69|
|            0.5|03/05/2019 12:16:14|        0.5|      100|           51|
|           0.63|03/05/2019 12:36:14|       0.65|      100|           45|
|           0.66|03/05/2019 14:01:14|       0.69|      100|           56|
|           0.55|03/05/2019 14:41:14|       0.39|      100|           64|
|           0.56|03/05/2019 14:56:14|       0.48|      100|           39|
|           0.63|03/05/2019 15:51:14|       0.66|      100|           44|
|           0.29|03/05/2019 16:21:14|       0.53|      100|           43|
|           0.35|03/05/2019 17:06:14|       0.66|      100|           44|
|           0.43|03/05/2019 17:11:14|       0.47|      100|           48|
|           0.61|03/05/2019 19:01:14|       0.45|      100|           38|
|           0.41|03/05/2019 19:06:14|        0.4|      100|           59|
|           0.43|03/05/2019 22:36:14|       0.71|      100|           59|
|           0.47|03/05/2019 23:16:14|       0.37|      100|           57|
|           0.49|03/06/2019 00:11:14|       0.55|      100|           48|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [23]:
df2_sort = df2.sort("event_datetime")
df2_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.86|03/05/2019 08:06:16|       0.09|      101|           93|
|           0.61|03/05/2019 08:06:17|       0.12|      102|           71|
|           0.64|03/05/2019 08:06:19|       0.32|      103|           96|
|           0.84|03/05/2019 08:06:21|       0.36|      104|           94|
|           0.54|03/05/2019 08:06:23|       0.38|      105|           74|
|            0.4|03/05/2019 08:06:24|       0.39|      106|           43|
|           0.64|03/05/2019 08:06:26|       0.55|      107|           56|
|           0.62|03/05/2019 08:06:28|       0.41|      108|           86|
|            0.7|03/05/2019 08:06:29|       0.59|      109|           77|
|           0.68|03/05/2019 08:06:31|       0.44|      110|           47|
|           0.48|03/05/2019 08:06:33|       0.25|      111|           70|
|           0.71|03/05/2019 08:06:34|       0.27|      112|           86|
|           0.69|03/05/2019 08:06:36|       0.38|      113|           71|
|           0.48|03/05/2019 08:06:38|       0.48|      114|           52|
|           0.78|03/05/2019 08:06:40|       0.22|      115|           62|
|            0.4|03/05/2019 08:06:41|       0.53|      116|           51|
|           0.71|03/05/2019 08:06:43|       0.61|      117|           60|
|           0.78|03/05/2019 08:06:45|       0.45|      118|           68|
|           0.51|03/05/2019 08:06:46|       0.49|      119|           53|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [24]:
df1.filter(df1["location_id"] == "loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [25]:
df1.filter(df1["location_id"] == "loc0").count()

1000

In [26]:
df1.filter(df1["location_id"] == "loc1").count()

1000

In [27]:
df1.filter(df1["location_id"] == "loc1").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

In [28]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [29]:
df1.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|      loc22| 1000|
|      loc31| 1000|
|      loc82| 1000|
|      loc39| 1000|
|      loc75| 1000|
|      loc24| 1000|
|      loc30| 1000|
|      loc18| 1000|
|      loc27| 1000|
|      loc43| 1000|
|      loc15| 1000|
|      loc48| 1000|
|      loc79| 1000|
|      loc86| 1000|
|      loc25| 1000|
|      loc53| 1000|
|      loc63| 1000|
|      loc71| 1000|
|      loc34| 1000|
|      loc41| 1000|
+-----------+-----+
only showing top 20 rows

In [30]:
df1.orderBy("location_id").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [32]:
df1.groupBy("location_id").agg({"temp_celcius": "mean"}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc39|           25.199|
|      loc75|           23.209|
|      loc24|           31.109|
|      loc30|           30.211|
|      loc18|           30.198|
|      loc27|           31.239|
|      loc43|           32.196|
|      loc15|           32.171|
|      loc48|           30.244|
|      loc79|             33.2|
|      loc86|           23.332|
|      loc25|           26.144|
|      loc53|           23.313|
|      loc63|           30.186|
|      loc71|           28.324|
|      loc34|            25.19|
|      loc41|           31.314|
+-----------+-----------------+
only showing top 20 rows

In [34]:
df1.groupBy("location_id").agg({"temp_celcius": "max"}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
|     loc102|               37|
|     loc103|               32|
|     loc104|               33|
|     loc105|               33|
|     loc106|               34|
|     loc107|               40|
|     loc108|               39|
|     loc109|               31|
|      loc11|               32|
|     loc110|               33|
|     loc111|               38|
|     loc112|               40|
|     loc113|               37|
|     loc114|               36|
|     loc115|               30|
+-----------+-----------------+
only showing top 20 rows